.client-data-item-field {
    padding: 0.50rem;
    background-color: #E5EDF5;
    border: 1px solid #C9C1D5;
    color: #5F5F5F;
    text-align: start;
    width: 120px;
    overflow: hidden;
    text-overflow: clip;
}
