body, html {
    margin: 0;
    padding: 0;
    background-color: #0c5460;
    font-family: sans-serif;
    height: 100%;
}

body > #root > div {
    height: 100vh;
}

.checkbox-default {
    position: absolute;
    margin: 8px;
}
